registry "https://artifactory.ext.national.com.au/artifactory/api/npm/node-new-virtual/"
"@nab:registry" "https://artifactory.ext.national.com.au/artifactory/api/npm/NPM-SHARED-build/"
loglevel warn
strict-ssl false
workspaces-experimental true