registry=https://artifactory.ext.national.com.au/artifactory/api/npm/node-new-virtual/
@nab:registry=https://artifactory.ext.national.com.au/artifactory/api/npm/NPM-SHARED-build/
@nabone:registry=https://artifactory.ext.national.com.au:443/artifactory/api/npm/NABONE-NPM-build/
@nabforms:registry=https://artifactory.ext.national.com.au:443/artifactory/api/npm/NPM-SHARED-build/
@api_platforms:registry=https://artifactory.ext.national.com.au/artifactory/api/npm/NABAPI-NPM-build/
@bnz:registry=https://digital.artifacts.nz.thenational.com/repository/npm-bnz/
stricl-ssl=false
optional=false
omit[]=optional
no-proxy=thenational.com,national.com.au
always-auth=false
NODE_TLS_REJECT_UNAUTHORIZED=0
workspaces-experimental=true
log-level=warn
prefix=~/node_modules/